{% macro renderForm(form) %}
    {% do form.prepare() %}
    {% autoescape false %}
        {% set buttons = [] %}
        {{ form().openTag(form) }}
            {% for element in form.getElements() %}
                {% if element.getAttribute('type') == 'submit' or element.getAttribute('type') == 'reset' %}
                    {% set buttons = buttons|merge([element]) %}
                {% elseif element.getAttribute('type') == 'select' %}
                    <div class="control-group {% if element.getMessages()|length > 0 %}error{% endif %}">
                        {{ formLabel.openTag() }}
                        <label class="control-label">{{ element.getLabel() }}</label>
                        <div class="controls">
                            <div>{{ formSelect(element) }}</div>
                            {% if element.getMessages()|length > 0 %}
                                <div class="help-inline">
                                    {{ formElementErrors(element) }}
                                </div>
                            {% endif %}
                        </div>
                        {{ formLabel.closeTag() }}
                    </div>
                {% else %}
                    <div class="control-group {% if element.getMessages()|length > 0 %}error{% endif %}">
                        {{ formLabel.openTag() }}
                        <label class="control-label">{{ element.getLabel() }}</label>
                        <div class="controls">
                            <div>{{ formInput(element) }}</div>
                            {% if element.getMessages()|length > 0 %}
                                <div class="help-inline">
                                    {{ formElementErrors(element) }}
                                </div>
                            {% endif %}
                        </div>
                        {{ formLabel.closeTag() }}
                    </div>
                {% endif %}
            {% endfor %}
            <div class="form-actions">
                {% for button in buttons %}
                    {{ formElement(button) }}
                {% endfor %}
            </div>
        {{ form().closeTag() }}
    {% endautoescape %}
{% endmacro %}